{% extends 'base.html' %}

{% block title %}
    My Tasks
{% endblock title %}
{% block content %}
    <header>
        <nav>
            <a href="{% url 'list_projects' %}">Main page</a>
        </nav>
    </header>
    <main>
        <div>
            <h1>My Tasks</h1>
            {% if show_my_tasks.all|length > 0 %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in show_my_tasks %}
                            <tr>
                                <td>{{ task.name }}</td>
                                <td>{{ task.start_date|date:"d/m/Y" }}</td>
                                <td>{{ task.due_date|date:"d/m/Y" }}</td>
                                <td>{{ task.is_completed|yesno:"Yes,No" }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>You have no tasks</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
